/* HEADER */

.navbar {
	background-color: #392b47;
	font-family: 'Open Sans', sans-serif;
}

.navbar li a, .navbar li button {
	color: #dfdbe3 !important;
	font-weight: 600;
	padding: 25px 30px;
}

.navbar li a.active, .navbar li a:hover, .navbar li.open a {
	background-color: #271b33 !important;
}

.navbar-inverse .navbar-nav>.active>a {
	background-color: #271b33 !important;
}

.navbar-brand {
	background: url('../images/logo.png') no-repeat center center;
	margin-left: 0;
	display: block;
	width: 126px;
	height: 70px;
}

.navbar li.sub {
	position: relative;
}

.navbar li.sub ul {
	position: absolute;
	display: none;
	left: 0;
	list-style: none;
	padding-left: 0;
}

.navbar li.sub a.subopen {
	background: url('../images/arrow-down.png') no-repeat right 10px center;
	cursor: pointer;
}

.navbar li.sub ul li {
	background-color: #271b33;
	border-bottom: 1px solid #332641;
	width: 150%;
}

.navbar li.sub ul li:last-child {
	border-bottom: none;
}

.navbar li.sub ul li a {
	display: block;
	padding: 10px;
	font-weight: 400;
	color: #c8c0d0;
}

.navbar li.sub ul li a:hover, .navbar li.sub ul li.active a {
	color: #71637f !important;
	text-decoration: none;
}

.navbar li.open ul {
	display: block;
}


/* SIDEBAR */

aside {
	position: fixed;
	padding-top: 80px;
	width: 220px;
	border-right: 1px solid #dfdfdf;
	background-color: #fff;
	height: 100%;
}

aside .structure-title {
	display: inline-block;
	padding: 3px;
	background-color: #f4f4f8;
	text-transform: uppercase;
	font-size: 12px;
	color: #9d9d9d;
}

aside .nav > li.active > a {
	border-right: 2px solid #6b4394;
	margin-right: -2px;
	font-weight: bold;
	color: #6b4394;
}

aside .nav > li {
	border-bottom: 1px solid #dfdfdf;
}

aside .nav > li > ul {
	border-top: 1px solid #dfdfdf;
}

aside .nav > li > ul > li > ul > li > a {
	padding-left: 30px;
}

aside .nav > li > ul > li > ul > li > ul > li a {
	padding-left: 40px;
}

aside .nav > li > ul > li > ul {
	background-color: #f4f4f8;
}

aside .nav > li > ul > li > ul > li > ul > li {
	background-color: #ebebeb;
}

aside .nav > li > ul > li:last-child {
  	border-bottom: 0px;
}

aside .nav > li > a {
	color: #484848;
}

/* CONTENT */
.content {
	margin-left: 205px;
	padding-top: 0px;
}


/* FILE UPLOADER */

#filesystem {
}

.k-dropzone {
	padding: 100px 0 130px 0;
	border: 2px dashed #b6b6b6 !important;
	border-radius: 0;
	position: relative;
	z-index: 2;
	background-color: transparent;
}

.k-upload {
	border-radius: 0;
	margin: 20px 0 30px 0;
}

.k-upload-action {
	background: none;
	padding: 0 !important;
}

.k-button-bare {
	background: none;
}

.k-delete {
	background: none;
	margin: 15px 50px 0 0;
}

.k-delete:before, .k-delete:hover:before{
	font-family: 'Glyphicons Halflings';
	content: "\e014";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #6d6d6d;
}

.k-header {
	border: none;
}

.k-dropzone-active {
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

.k-button, .k-button:hover {
	position: absolute;
	right: 50px;
	background-color: #b6b6b6;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 15px 25px;
}

.k-upload-selected, .k-upload-selected:hover {
	position: relative;
	background-color: #b6b6b6;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 15px 25px;
	right: 0;
	margin: 5px 0 0 0;
}
.k-upload .k-dropzone em {
	display: none;
}

.uploadWrapper {
	position: relative;
}

.uploadWrapper .upload {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: 0;
	margin-right: 0;
	top: 0;
	text-align: center;
	background: url('../images/upload.png') no-repeat center top;
	font-weight: 600;
	color: #9e9ca0;
	text-transform: uppercase;
	font-size: 1.5em;
	padding-top: 80px;
	margin-top: 60px;
	z-index: 1;
}

.uploadWrapper .upload span {
	display: block;
	color: #735592;
	font-weight: 400;
	text-transform: none;
	font-size: .5em;
}

.file-heading {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #9e9ca0;
}

.k-file {
	padding: 0;
	background-color: transparent;
}

.k-file .file-icon {
	display: none;
}

.k-upload-files {
	border: none;
}

li.k-file div.file-wrapper {
	height: auto;
}

.filesTable {
	font-size: .9em;
}

.filesTable img {
	margin-right: 8px;
}

.filesTable, .filesTable tr, .filesTable td {
	border: none !important;
}

.filesTable thead th {
	border-left: none !important;
	border-right: none !important;
	color: #484848;
	font-weight: 600;
	font-size: .9em;
}

.filesTable tr {
	border-bottom: 1px solid #dfdfdf !important;
}

.filesTable td {
	vertical-align: middle !important;
}

.filesTable td.name a {
	color: #3f3d41;
}

.filesTable td.name a span {
	margin-right: 7px;
	color: #939393;
	font-size: 1.3em;
}

.filesTable .btn-filedanger, .filesTable .btn-download, .btn-back, .btn-new-dir {
	background-color: #b6b6b6;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 20px 7px 0;
}

.btn-new-dir {
	background-color: #51b766;
}

.btn-back:hover, .btn-new-dir:hover {
	color: #fff;
}

.filesTable .btn-filedanger span, .filesTable .btn-download span, .btn-back span, .btn-new-dir span {
	margin: 0 7px 0 10px;
	top: 2px;
	color: #6d6d6d;
}

.btn-new-dir span {
	top: 1px;
	color: #316e3d;
}

.btn-new-dir, .btn-back {
	padding: 12px 20px 12px 0;
}

.btn-reload {
	float: right;
	color: #747375;
	font-weight: 600;
	font-size: 1.1em;
}

.btn-reload span {
	margin-right: 15px;
}