body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #484848;
	background-color: #fff;
}

h1 {
	font-size: 150%;
	color: #3484D2;
}

.float-r {
	float: right;
}

.float-l {
	float: left;
}

.clear {
	clear:both;
	height:1px;
	display:block;
	margin:0px 0 0;
	padding:0px;
	overflow:hidden;
	font-size:1px;
	line-height:1px;
}

.system-menu {
	max-width: 100% !important;
}

.content {
	max-width: 100% !important;
}

.footer {
	max-width: 100% !important;
}

a[href^="error:"] {
	background: red;
	color: white;
}

.flash-messages {
	margin-top: 60px;
}

#loader {
	display: none;
	font-size: 2em;
	position: fixed;
	padding: 5px;
	left: 40%;
	top: 40%;
	z-index: 10000;
}

#loader.active{
	display: block;
}

footer {
	margin-top: 10px;
}

.k-state-active{
	width: 400px;
	height: 200px;
}

/* Filesystem */
.filesystem {
	display: block;
}

.filesystem .directory {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid black;
}

.filesystem .directory:hover {

}

.jq_system-packages {
	display: none;
}

.sidebar .well {
	display: none;
	padding: 0;
	background-color: #222222;
	border: none;
	border-radius: 0;
	color: #999999;
}

.sidebar {
	top: 0px;
	height: 100%;
	overflow: auto;
	position: fixed !important;
	z-index: 10001;
}

.sidebar ul {
	padding: 0px;
}

.sidebar ul li {
	list-style-type: none;
	padding-left: 2px;
}

.sidebar.hid {
	left: -120px;
}

.sidebar .toggle-button{
	position: fixed;
	top: 48px;
}

.spinner-wrapper{
  font-size: 18px;
  display: none;
  top: 45%;
  left: 40%;
  position: fixed;
  background: white;
  border-radius: 30px;
  border: 1px solid black;
  padding: 20px;
  z-index: 10000;
}

.spinner {
  margin: 0px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.popover, .popover-navigation {
	min-width: 367px;
}

.popover-title {
	text-align: center;
}

.popover-navigation .btn {
	display: inline-block;
	float: none !important;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.file-icon
{
	display: inline-block;
	float: left;
	width: 48px;
	height: 48px;
	margin-left: 10px;
	margin-top: 13.5px;
}

.img-file { background-image: url(../../content/web/upload/jpg.png) }
.doc-file { background-image: url(../../content/web/upload/doc.png) }
.pdf-file { background-image: url(../../content/web/upload/pdf.png) }
.xls-file { background-image: url(../../content/web/upload/xls.png) }
.zip-file { background-image: url(../../content/web/upload/zip.png) }
.default-file { background-image: url(../../content/web/upload/default.png) }

#example .file-heading
{
	font-family: Arial;
	font-size: 1.1em;
	display: inline-block;
	float: left;
	width: 450px;
	margin: 0 0 0 20px;
	height: 25px;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

	#example .file-name-heading
	{
		font-weight: bold;
	}

	 #example .file-size-heading
	{
		font-weight: normal;
		font-style: italic;
	}

li.k-file .file-wrapper .k-upload-action
{
	position: absolute;
	top: 0;
	right: 0;
}

li.k-file div.file-wrapper
{
	position: relative;
	height: 75px;
}

/* HEADER */

.navbar {
	background-color: #392b47;
	font-family: 'Open Sans', sans-serif;
}

.navbar li a, .navbar li button {
	color: #dfdbe3 !important;
	font-weight: 600;
	padding: 25px 30px;
}

.navbar li button.tabButton {
	background-color: transparent;
	border: none;
}

.navbar li button.tabButton:hover, .navbar li.open button {
	background-color: #271b33 !important;
}

.navbar li a.active, .navbar li a:hover, .navbar li.open a {
	background-color: #271b33 !important;
}

.navbar-inverse .navbar-nav>.active>a {
	background-color: #271b33 !important;
}

.navbar-brand {
	background: url('../images/logo.png') no-repeat center center;
	margin-left: 0;
	display: block;
	width: 126px;
	height: 70px;
}

.navbar li.sub {
	position: relative;
}

.navbar li.sub ul {
	position: absolute;
	display: none;
	left: 0;
	list-style: none;
	padding-left: 0;
}

.navbar li.sub a.subopen {
	background: url('../images/arrow-down.png') no-repeat right 10px center;
	cursor: pointer;
}

.navbar li.sub ul li {
	background-color: #271b33;
	border-bottom: 1px solid #332641;
	width: 150%;
}

.navbar li.sub ul li:last-child {
	border-bottom: none;
}

.navbar li.sub ul li a {
	display: block;
	padding: 10px;
	font-weight: 400;
	color: #c8c0d0;
}

.navbar li.sub ul li a:hover, .navbar li.sub ul li.active a {
	color: #71637f !important;
	text-decoration: none;
}

.navbar li.open ul {
	display: block;
}


/* SIDEBAR */

aside {
	position: fixed;
	padding-top: 80px;
	width: 220px;
	border-right: 1px solid #dfdfdf;
	background-color: #fff;
	height: 100%;
	overflow: auto;
}

aside .structure-title {
	display: inline-block;
	padding: 3px;
	background-color: #f4f4f8;
	text-transform: uppercase;
	font-size: 12px;
	color: #9d9d9d;
}

aside .nav > li.active > a {
	border-right: 2px solid #6b4394;
	margin-right: -2px;
	font-weight: bold;
	color: #6b4394;
}

aside .nav > li {
	border-bottom: 1px solid #dfdfdf;
}

aside .nav > li > ul {
	border-top: 1px solid #dfdfdf;
}

aside .nav > li > ul > li > ul > li > a {
	padding-left: 30px;
}

aside .nav > li > ul > li > ul > li > ul > li a {
	padding-left: 40px;
}

aside .nav > li > ul > li > ul {
	background-color: #f4f4f8;
}

aside .nav > li > ul > li > ul > li > ul > li {
	background-color: #ebebeb;
}

aside .nav > li > ul > li:last-child {
  	border-bottom: 0px;
}

aside .nav > li > a {
	color: #484848;
}

/* CONTENT */
.content {
	margin-left: 205px;
	padding-top: 0px;
}


/* FILE UPLOADER */

#filesystem {
}

.k-dropzone {
	padding: 100px 0 130px 0;
	border: 2px dashed #b6b6b6 !important;
	border-radius: 0;
	position: relative;
	z-index: 2;
	background-color: transparent;
}

.k-upload {
	border-radius: 0;
	margin: 20px 0 30px 0;
}

.k-upload-action {
	background: none;
	padding: 0 !important;
}

.k-button-bare {
	background: none;
}

.k-delete {
	background: none;
	margin: 15px 50px 0 0;
}

.k-delete:before, .k-delete:hover:before{
	font-family: 'Glyphicons Halflings';
	content: "\e014";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #6d6d6d;
}

.k-header {
	border: none;
}

.k-dropzone-active {
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

.k-button, .k-button:hover {
	position: absolute;
	right: 50px;
	background-color: #b6b6b6;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 15px 25px;
}

.k-upload-selected, .k-upload-selected:hover {
	position: relative;
	background-color: #b6b6b6;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 15px 25px;
	right: 0;
	margin: 5px 0 0 0;
}
.k-upload .k-dropzone em {
	display: none;
}

.uploadWrapper {
	position: relative;
}

.uploadWrapper .upload {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: 0;
	margin-right: 0;
	top: 0;
	text-align: center;
	background: url('../images/upload.png') no-repeat center top;
	font-weight: 600;
	color: #9e9ca0;
	text-transform: uppercase;
	font-size: 1.5em;
	padding-top: 80px;
	margin-top: 60px;
	z-index: 1;
}

.uploadWrapper .upload span {
	display: block;
	color: #735592;
	font-weight: 400;
	text-transform: none;
	font-size: .5em;
}

.file-heading {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #9e9ca0;
}

.k-file {
	padding: 0;
	background-color: transparent;
}

.k-file .file-icon {
	display: none;
}

.k-upload-files {
	border: none;
}

li.k-file div.file-wrapper {
	height: auto;
}

.filesTable {
	font-size: .9em;
}

.filesTable img {
	margin-right: 8px;
}

.filesTable, .filesTable tr, .filesTable td {
	border: none !important;
}

.filesTable thead th {
	border-left: none !important;
	border-right: none !important;
	color: #484848;
	font-weight: 600;
	font-size: .9em;
}

.filesTable tr {
	border-bottom: 1px solid #dfdfdf !important;
}

.filesTable td {
	vertical-align: middle !important;
}

.filesTable td.name a {
	color: #3f3d41;
}

.filesTable td.name a span {
	margin-right: 7px;
	color: #939393;
	font-size: 1.3em;
}

.filesTable .btn-filedanger, .filesTable .btn-download, .btn-back, .btn-new-dir {
	background-color: #b6b6b6;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 20px 7px 0;
}

.btn-new-dir {
	background-color: #51b766;
}

.btn-back:hover, .btn-new-dir:hover {
	color: #fff;
}

.filesTable .btn-filedanger span, .filesTable .btn-download span, .btn-back span, .btn-new-dir span {
	margin: 0 7px 0 10px;
	top: 2px;
	color: #6d6d6d;
}

.btn-new-dir span {
	top: 1px;
	color: #316e3d;
}

.btn-new-dir, .btn-back {
	padding: 12px 20px 12px 0;
}

.btn-reload {
	float: right;
	color: #747375;
	font-weight: 600;
	font-size: 1.1em;
}

.btn-reload span {
	margin-right: 15px;
}

/* login page */
body.login-page {
	height: 100%;
  	padding-top: 40px;
  	padding-bottom: 40px;
  	background: #5b4d69 url('../images/webcookcms-login-bg.jpg') no-repeat;
  	background-size: cover;
  	font-family: 'Open Sans', sans-serif;
}

body.login-page .container {
	-ms-transform: translateY(50%); /* IE 9 */
   	-webkit-transform: translateY(50%); /* Chrome, Safari, Opera */
    transform: translateY(50%);
}


/* obecne pro CMS */
body {
	background-color: #f5f5f5;
}

a:hover {
	color: #fff;
}

.content a:hover {
	color: #000;
}

.jump-to-web {
	color: #fff;
	display: block;
	padding: 40px 40px 40px 40px;
}

.jump-to-web span {
	color: #fff;
	display: inline-block;
	margin-right: 20px;
}

.signin-wrap {
	background-color: #fff;
}

.webcookcms-logo {
	background-color: #2d2139;
  	height: 90px;
  	line-height: 90px;
  	text-align: center;
  	position: relative;
}

.webcookcms-logo:after {
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2d2139;
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -5px;
	z-index: 2;
}

.form-signin {
  	max-width: 330px;
  	padding: 40px 0px;
	background-color: #fff;
  	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.input-group-addon {
	background: transparent;
}

body.login-page .input-group {
	margin-bottom: 10px;
}

body.login-page .input-group .form-control {
	border-right: 0px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.webcookcms-version {
	color: #51b766;
	position: absolute;
	text-align: right;
	right: 0px;
	bottom: -30px;
	font-size: 12px;
}

.helpline {
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: #fff;
}

.helpline span {
	color: #51b766;
	font-size: 12px;
	display: inline-block;
	padding-right: 30px;
}

.helpline a {
	color: #fff;
}

/* dropdown user menu */
.navbar-right, .navbar-form.navbar-right:last-child {
	margin: 0px -30px 0px 0px;
}

.navbar-right .btn-group {
	height: 70px;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	right: 0px;
	background: url('../images/arrow-down.png') no-repeat right 10px center;
}

.navbar-right .btn-group button {
	width: 40px;
	height: 40px;
	margin: 15px;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 0 none;
	background-color: #645573;
	color: #b5a0cb;
	text-transform: uppercase;
}

.navbar-right .btn-group.open {
	background-color: #271b33;
}

.navbar-right .dropdown-menu {
	position: absolute;
	top: 99%;
	right: -1px;
	margin: 0px;
	border-radius: 0px;
	background-color: #271b33;
	border: 0px;
	box-shadow: 0px;
}

.navbar-right .navbar.dropdown-menu li {
	padding: 0px;
}

.navbar-right .navbar.dropdown-menu li a {
	padding: 0px 0px 0px 20px;
	line-height: 30px;
	font-size: 12px;
	border-bottom: 1px solid #332641;
	display: block;
}

.navbar-right .navbar.dropdown-menu li a.logout {
	color: #71637f !important;
}

.navbar-right .navbar.dropdown-menu li:last-child a {
	border-bottom: 0px;
}

.navbar-right .navbar.dropdown-menu li.active a {
	background-color: transparent;
}

.navbar-right .navbar.dropdown-menu > li > a:hover {
	background-color: #fff;
}

.dropdown-toggle {

}

/* nadpisy stranek a zalozky */
.page-heading {
	padding: 20px 30px 0px 30px;
	margin-right: -15px;
	background-color: #fff;
	border-bottom: 1px solid #dfdfdf;
}

.page-heading h1 {
	margin: 0px;
	padding: 0px;
	line-height: 60px;
	color: #3f3d41;
	font-weight: bold;
}

.page-heading .nav-tabs {
	border-bottom: 0px;
}

.page-heading .nav-tabs > li > a {
	border: 0px;
	border-radius: 0px;
	padding-left: 34px;
	margin-right: 10px;
	position: relative;
	color: #3f3d41;
}

.page-heading .nav-tabs > li > a:hover {
	border: 0px;
	border-radius: 0px;
	background-color: transparent;
	color: #000;
}

.page-heading .nav-tabs > li.active > a {
	border: 0px;
	border-radius: 0px;
	border-bottom: 2px solid #6b4394;
}

/* nadpisy stranek a zalozky - ikony k zalozkam */
.page-heading .nav-tabs > li > a:after {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 12px;
	left: 5px;
	display: inline-block;
	font-style: normal;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: rgba(0,0,0,0.4);
}

.page-heading .nav-tabs > li > a:hover:after {
	color: rgba(0,0,0,1);
}

.page-heading .nav-tabs > li > a.contentTab:after {
	content: "\e135";
}

.page-heading .nav-tabs > li > a.photogalleryTab:after {
	content: "\e046";
}

.page-heading .nav-tabs > li > a.contactTab:after {
	content: "\e139";
}

.page-heading .nav-tabs > li > a.settingsTab:after {
	content: "\e136";
}

.page-heading .nav-tabs > li > a#tSettings:after {
	content: "\e019";
}

.page-heading .nav-tabs > li > a#tPictures:after {
	content: "\e060";
}

.page-heading .nav-tabs > li > a#tEmails:after {
	content: "\2709";
}

.page-heading .nav-tabs > li > a#tBoxes:after {
	content: "\e012";
}

.page-heading .nav-tabs > li > a#tSeo:after {
	content: "\e141";
}

.page-heading .nav-tabs > li > a#tApi:after {
	content: "\e162";
}

.page-heading .nav-tabs > li > a#tProject:after {
	content: "\e184";
}

.page-heading .nav-tabs > li > a#tUsers:after {
	content: "\e008";
}

.page-heading .nav-tabs > li > a#tRoles:after {
	content: "\270f";
}

.page-heading .nav-tabs > li > a#tLanguages:after {
	content: "\e135";
}

.page-heading .nav-tabs > li > a#tTranslates:after {
	content: "\e111";
}

.page-heading .nav-tabs > li > a#tCloning:after {
	content: "\e031";
}

.page-heading .nav-tabs > li > a#tTranslator:after {
	content: "\e178";
}

.page-heading .nav-tabs > li > a#tFunctions:after {
	content: "\e136";
}

.page-heading .nav-tabs > li > a#tUpdate:after {
	content: "\e121";
}

.page-heading .nav-tabs > li > a#tPages:after {
	content: "\e032";
}

.page-heading .nav-tabs > li > a#tSorting:after {
	content: "\e150";
}

.page-heading .nav-tabs > li > a#tNews:after {
	content: "\e135";
}

.page-heading .nav-tabs > li > a#tScripts:after {
	content: "\e142";
}

.page-heading .nav-tabs > li > a#tStyles:after {
	content: "\e063";
}

/* wysiwyg wrap */
.control-group {
	padding: 0px 30px;
}

.control-group .control-label {
	text-transform: uppercase;
	margin: 20px 0px 10px 0px;
}

.panel-group {
	padding: 30px;
	margin: 0px;
}

/* modal windows */
.modal-content {
	border-radius: 0px;
}

.modal-header {
	border-bottom: 0px;
	padding: 0px;
	min-height: 0px;
}

.modal-header .close {
	font-size: 40px;
	z-index: 100;
	position: relative;
	color: #fff;
	right: -30px;
	opacity: 0.8;
}

.modal-header .close:hover {
	opacity: 1;
}

/* fotogalerie */
.image-wrap {
	text-align: center;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.image-wrap input {
	width: auto;
	max-width: 180px;
}

.image-wrap .img-thumbnail img {
	height: 100px;
	margin-bottom: 5px;
	width: auto;
}

.btn.jq_fileDelete {
	margin-top: 5px;
	padding: 0px 10px;
	font-size: 40px;
	color: #000;
}

.btn.jq_fileDelete:hover {
	color: red;
	background-color: transparent;
}

.well.row {
	margin: 0px 0px;
}

/* primarni button */
.btn {
	border-radius: 0px;
	border: 0 none;
	text-transform: uppercase;
	font-weight: bold;
}

.btn.green {
	background-color: #7ca02e;
}

.btn.grey {
	background-color: #a8a8a8;
}

.btn.purple {
	background-color: #392b47;
}

.btn-lg {
	line-height: 60px;
	padding: 0px 16px;
}

.btn-primary {
	background-color: #51b766;
}

.btn-primary:hover {
	background-color: #35a44d;
}

/* buttony akcni v CMS */
.form-actions .btn {
	line-height: 60px;
	padding: 0px 16px;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	padding-left: 60px;
	background-color: #51b766;
}

.form-actions .btn:hover {
	background-color: #35a44d;
}

.btn {
	position: relative;
	padding: 0px 15px 0px 45px;
	color: #fff;
	line-height: 45px;
}

.btn:hover {
	color: #fff;
}

.btn:after {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 15px;
	left: 15px;
	display: inline-block;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: rgba(255,255,255,0.8);
}

.btn-open-smth {
	background-color: #392b47;
}

.btn-open-smth:hover {
	background-color: #2a1e37;
}

.form-actions .btn-success {
	line-height: 60px;
	padding: 0px 16px;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	padding-left: 60px;
}

.form-actions {
	position: relative;
	padding: 10px 30px;
}

.form-actions:before {
	content: "\e013";
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 30px;
	left: 50px;
	display: inline-block;
	font-style: normal;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	z-index: 1;
	-webkit-font-smoothing: antialiased;
}

.btn.filesDialog:after {
	content: "\e118";
}

/* flash and alert messages */
#snippet--flashMessages {
	position: absolute;
	left: 0px;
	top: 70px;
	width: 100%;
}

body.login-page #snippet--flashMessages {
	top: 0px;
}

.flash, .alert, .alert-warning  {
	color: #fff;
	background-color: #121212;
	width: 100%;
	/*height: 40px;*/
	line-height: 20px;
	padding: 9px 15px 9px 50px;
	border: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
	position: relative;
	z-index: 10;
}

.alert-warning {
	background-color: #565656;
}

.alert.alert-warning:after {
	content: "\e107";
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 12px;
	left: 20px;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: #fff;
}

.alert-info {
	background-color: #4f81ab;
}

.alert-info:after {
	content: "\e086";
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 12px;
	left: 20px;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: #fff;
}

.flash.danger {
	background-color: #8f275d;
}

.flash.danger:after {
	content: "\e101";
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 12px;
	left: 20px;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: #fff;
}

.alert.alert-success {
	background-color: #51b766;
}
.alert.alert-success:after {
	content: "\e089";
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 12px;
	left: 20px;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: #fff;
}

body.login-page .flash.warning {
	display: none;
}

.alert .close, .flash .close, .alert-warning .close {
	color: #fff;
	opacity: .7;
	text-shadow: 0px;
	margin: 10px 10px 0px 0px;
}

.alert .close:hover, .flash .close:hover, .alert-warning .close:hover {
	opacity: 1;
}


.buttonWrap {
	padding-left: 19px;
}

.btn-primary, .btn-danger, .search, .reset {
	padding-left: 15px !important;
}

.filesDialog {
	padding-left: 45px !important;
}

.search, .reset {
	color: #000;
}

.paginator a {
	color: #000;
}

.paginator span {
	font-weight: bold;
	color: #484848 !important;
}

.boxesForm {
	margin: 25px 0;
}

.boxesText {
	line-height: 45%;
}

.popover-navigation .btn {
	padding: 0 15px;
	background-color: #51b766;
}

.popover-navigation .btn[data-role="end"] {
	background-color: #d2322d;
}

.context-menu {
	bottom: -50px;
	left: 0;
	background-color: #392B47 !important;
	opacity: 1;
	width: 150px;
	height: 50px;
	z-index: 10000;
}

.context-menu a {
	color: #fff;
	display: block;
	padding: 15px 20px;
}

.context-menu a:hover {
	color: #fff;
}

a.back {
	color: #3b3b3b;
	position: relative;
	padding-left: 34px;
	margin: 20px 0;
	display: block;
}

a.back:after {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 0;
	left: 5px;
	display: inline-block;
	font-style: normal;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: rgba(0,0,0,0.3);
	content: "\e091";
}

.info {
	position: relative;
	padding-left: 34px;
}

.info:after {
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 1px;
	left: 5px;
	display: inline-block;
	font-style: normal;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: rgba(0,0,0,0.9);
	content: "\e086";
}

/*overwrite input class .form-control*/
.form-control {
	border-radius: 0;
	border: 1px solid #d8d8d8;
	padding: 12px;
	/*height: 100%;*/
}

input[type=radio] {
	min-height: 20px;
}

.form-control.green {
	background-color: #c4db93;
	border-color: #c4db93;
}


/*overwrite grido styles*/
.grido {
	margin: 30px 0;
}

.grido table {
	box-shadow: none;
	border: none;
	border-radius: 0;
}

.grido thead {
	font-size: 12px;
	color: #797979;
	font-weight: bold;
	text-transform: uppercase;
}

.grido th, .grido tr, .grido td {
	border: none !important;
}

.grido td {
	color: #3b3b3b;
	font-weight: bold;
	/*padding-top: 15px !important;
	padding-bottom: 15px !important;*/
	vertical-align: middle !important;
}

.grido tbody>tr:nth-child(odd)>td {
	background-color: #d8d8d8;
}

.paginator a, .paginator span {
	color: #262626;
	padding: 5px 20px;
}

/*bootstrap-toggle*/

div.toggle {
	margin: 0px 20px 0px -20px;
	line-height: 20px;
	border-radius: 3px;
}

div.toggle-group .btn {
	position: absolute;
}

div.toggle-group span.toggle-handle {
	display: none;
}


/*modul invest form*/
/*TODO - premistit k modulu START*/

.btn-square {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-color: #7ca02e;
	margin: 30px 40px 30px 0;
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.btn-square.add {
	background: #7ca02e url('../images/ico-add.png') center 70px no-repeat;
}

.btn-square span {
	position: absolute;
	top: 160px;
	display: block;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.btn-square:hover {
	color: #fff !important;
	text-decoration: none;
}

.btn-square.active {
	background: #392b47 url('../images/ico-active.png') center 70px no-repeat;
}

.btn-square.inactive {
	background: #2e2a31 url('../images/ico-inactive.png') center 70px no-repeat;
}

span.number {
	color: #fff;
	display: inline;
	font-size: 18px;
	font-weight: bold;
	background-color: #b4b4b4;
	border-radius: 12px;
	padding: 5px 12px;
	margin-left: 15px;
}

.changeActiveStatus {
	margin-left: 40px;
	font-weight: bold;
	color: #3b3b3b;
	padding: 10px 25px;
	background-color: #e5e5e5;
	margin-bottom: 20px;
}

.changeActiveStatus a {
	margin-left: 20px;
}

.contactInfo {
	padding: 30px;
	background-color: #e5e5e5;
	color: #3b3b3b;
	line-height: 180%;
	font-size: 16px;
}

p.headTitle {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 25px;
	color: #797979;
	font-size: 12px;
}

p.numberOfInvestments {
	color: #3b3b3b;
	font-size: 32px;
	font-weight: bold;
}

p.investmentsAmount {
	color: #3b3b3b;
	font-size: 14px;
}

/*TODO - premistit k modulu END*/



